<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand fw-semibold" href="/">Voult SDK test</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#voultNav" aria-controls="voultNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="voultNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/voult">Playground</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/voult/signup/email">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/voult/signin/email">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/voult/account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/voult/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/voult/oauth">OAuth</a>
        </li>
      </ul>

      <form action="/logout" method="POST">
        <input type="hidden" name="_redirect" value="1">
        <button type="submit" class="btn btn-outline-danger btn-sm me-3">Sign out</button>
      </form>

      <div class="d-flex gap-2 align-items-center">
        <span class="text-white-50 small d-none d-md-inline">JSON: </span>
        <code class="text-warning small">GET /profile</code>
      </div>
    </div>
  </div>
</nav>
